# Node & React
node_modules/
dist/
build/
.eslintcache

# Environment & Secrets
.env
.env.local

# IDEs
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Backend & AI/ML
target/
.gradle/
build/
out/
.mvn/
mvnw
mvnw.cmd

# --- Python & AI/ML Ignores ---
.venv310/
venv/
Ai_Ml/venv/
__pycache__/
*.pyc
*.mp3
*.wav