echo "node_modules/" > .gitignore
echo ".DS_Store" >> .gitignore


.idea/
*.iws
*.iml
*.ipr


target/
.gradle/
build/
out/
.mvn/
mvnw
mvnw.cmd

# --- Python & AI/ML Ignores ---
venv/
Ai_Ml/venv/
__pycache__/
*.pyc
.idea/
.vscode/
.env
*.mp3
*.wav